@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome<br />@ViewBag.Greeting People</h1>
    
    <p style="font-family:'Baskerville Old Face'; font-weight:700">
        We're going to have an exciting party.
    </p>
</div>
